
.listViewC .list-cell:filled:hover,
.list-cell:filled:hover {	
	-fx-background-color: #000000;
	-fx-text-fill: #ffffff;		
}

#gameList .list-cell {
	-fx-padding : 0em;
}

.gameListItem:hover .gameInfoItem,  
.gameListItem:hover .gameNameItem , 
.gameListItem:hover {
	-fx-background-color: #000000;
	-fx-text-fill: #ffffff;		
}


.gameListItem {
	-fx-background-color: #ffffff;
	-fx-text-inner-color: #000000;
	-fx-padding: 5 0 5 5;
	-fx-border-color:  #999999;
	-fx-border-width: 0 0 1 0;
	-fx-border-style: solid;	
}

.gameNameItem {
	-fx-font: 15px "Tahoma";
}

.gameInfoItem {
	-fx-font: 10px "Tahoma";
    -fx-padding: 0;
    
}

#tabPane:top *.tab-header-area {
	-fx-background-insets: 0 0 0 0;
 /* -fx-padding: 0.416667em 0.166667em 0.0em 0.833em; /* 5 2 0 10 */
    -fx-padding: 0 0 0 0;
	
}

.tab-content-area {
    -fx-padding: 10 0 0 0;
    /* -fx-opacity: -fx-disabled-opacity;*/	  
}



#ipList , #gameList{
	-fx-padding : 0em;
}

